<div class="about-container">
<div class="section">
    <h2>INFORMATION</h2>
 
 <div class="parrafo">  
    <p>Rick and Morty (Rick and Morty in the United States) is an American animated television series for adults created by Dan Harmon and Justin Roiland, whose premiere took place on December 2, 2013 on Adult Swim. The first season has eleven twenty-two minute episodes and due to the great success of the series after the first six episodes aired on the channel, Adult Swim had already confirmed that it would be renewed for a new season. The show is based on one of the satirical animated shorts for Channel 101, dubbed The Real Animated Adventures of Doc and Mharti by Justin Rolland, this being a parody of the popular 1985 film Back to the Future.</p>
</div> 
</div>
<div class="section">
    <h2>SINOPSIS</h2>
    <div class="parrafo">
        <p>Rick Sánchez is an example of the typical mad scientist. He's irresponsible, alcoholic, a genius, selfish, a bit depressed, and he's clearly insane. Rick for different reasons ends up moving to his daughter Beth's house and at that moment he meets his grandson, whose name is Morty. Without paying much attention to him, he decides to force him to make him his partner in all kinds of adventures so that the boy develops an intelligence like his and does not end up like his father Jerry, a complete idiot. Thus, grandfather and grandson begin to live interdimensional adventures all thanks to an artifact that Rick poses that allows him to access infinite dimensions, despite the opposition of the family.</p>
    </div>
</div>
<div class="section">
    <h2>PLOT</h2>
    <div class="parrafo">
        <p>Después de haber desaparecido por casi 20 años, Rick Sánchez de repente llega a la casa de su hija Beth, quien busca mudarse con ella y su familia. Beth le da la bienvenida con los brazos abiertos, pero su esposo, Jerry, no está demasiado emocionado por la reunión familiar; la llegada de Rick hace que sus nietos (Rick y Summer) vivan toda clase de locas aventuras de ciencia ficción y la relación entre Beth y Jerry se ve en problemas por ello. Rick convierte el garaje en su laboratorio personal y se pone a trabajar en todo tipo de artilugios y artefactos peligrosos. Con excepción del episodio piloto, cada uno de estos termina con una escena post-créditos.</p>
    </div>
</div>
</div>