<nav class="navigator-container" >
    <ul class="navigator-list">
       <li class="home"> 
           <a routerLink='/home'>
            <img src="https://img.icons8.com/external-flatart-icons-lineal-color-flatarticons/64/000000/external-home-valentines-day-flatart-icons-lineal-color-flatarticons-1.png"/>
        </a>
       </li>
       <li class="characters">
        <a routerLink='/characters'>
            <img src="https://img.icons8.com/plasticine/100/000000/rick-sanchez.png"/>
        </a>
    </li>
    <li class="about">
        <a routerLink='/about'>
            <img src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-group-cyber-security-kiranshastry-lineal-color-kiranshastry-2.png"/>
        </a>
    </li>

    </ul>

</nav>
